h1 {
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 44px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 42px;
}

h2 {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    font-size: 34px;
    line-height: 44px;
}

img {
    width: 100%;
}

code {
    background-color: #f2f2f2;
    font-family: "Courier New", monospace;
}

.header {
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    font-size: 24px;
    color: #333333;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    text-align: left;
    line-height: 36px;
    margin: 0;
    width: 100%;
}

#img1 {
    height: 5%;
    width: 7%;
    margin: 16px 16px 16px 16px;
}

li {
    float: left;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #f2f2f2;
}

li a {
    display: block;
    color: black;
    text-align: center;
    margin: 0;
    padding: 16px;
}

li a:hover {
    margin: 0;
}

#block1 {
    margin: 55px 25%;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    font-size: 21px;
    color: rgba(0, 0, 0, 0.84);
    text-align: left;
    line-height: 33px;
}

#pointer {
    position: absolute;
    padding-left: 50px;
    padding-top: 22px;
    z-index: 2;
}


@media (max-width: 800px) {
    li {
        float: none;
        margin-left: 20px;
    }

    li a {
        display: block;
        color: black;
        text-align: left;
        margin: 16px 0;
        padding: 0px;
    }

    .header {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size: 20px;
        text-align: left;
        line-height: 18px;
        color: #333333;
        border-bottom: 1px solid black;
        border-top: 1px solid black;
        margin: 0;
        width: 100%;
    }

    h1 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        font-size: 26px;
        line-height: 44px;
    }

    h2 {
        font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
        font-size: 18px;
        color: rgba(0, 0, 0, 0.84);
        text-align: left;
        line-height: 44px;
    }

    #img1 {
        width: 20%;
        padding-top: 15px;
        margin: 16px 16px 16px 16px;
    }

    #block1 {
        margin: 20px;
    }
}
